//
// _match.scss
//

.masthead {
  background-color: $primary_accent;
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: relative;
  .logo {
    float: left;
    height: 30px;
    position: relative;
    top: 14px;
  }
  .generate-match {
    position: absolute;
    text-align: center;
    color: $primary_accent;
    font-size: 3rem;
    line-height: 58px;
    left: 50%;
    top: 25px;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    border: 4px solid #222;
    background: #fff;
    z-index: 9;
    border-radius: 100%;
    &:hover {
      color: #222;
      background: $secondary_accent;
    }
    &:active {
      border-width: 0;
      line-height: 66px;
      box-shadow: 0 0 20px #000;
    }
  }
  .navigation {
    color: white;
    list-style-type: none;
    float: right;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    li {
      display: inline;
      margin-left: 2em;
      &.last {
        margin-left:-.1em;
      }
    }

    a {
      text-align: center;
      text-decoration: none;
      letter-spacing: 1px;
      height: 60px;
      display: inline-block;
      font-weight: 700;
      color: #fff;
      border: none;
      &:hover {
        color: $secondary_accent;
      }
      &.share {
        background: darken($primary_accent, 8);
        padding: 0 1em;
        border-left: 1px solid darken($primary_accent, 10);
        border-right: 1px solid darken($primary_accent, 10);
      }
    }
  }
}

.match-info-bar {
  border-top: 1px solid #000;
  background-color: $headers_bg;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 2em 0;
  box-shadow: 0 3px 20px rgba(0, 0,0, 0.6);
  border-bottom: 1px solid #000;
  z-index: 2;
  min-height: 116px;
  .header {
    h2 {
      margin: 0 auto;
      font-size: 2.4rem;
      text-align: center;
      margin-top: -3%;
      a {
        color: $secondary_accent;
        border: none;
      }
    }
  }
  h2.restaurant-heading {
    margin-left:-1%;
  }
  .header-title-meta {
    list-style: none;
    color: $body_copy_light;
    margin: 0 auto;
    text-align: center;
    li {
      display: inline;
      margin-right: 0.2em;
      &:after {
        content: ','
      }
      &:last-child {
        &:after {
          content: ''
        }
      }
    }
  }
}

.match-details {
  background: $body_bg url('../img/bg-line.png') repeat-y top center;
  min-height: 500px;
  height: 100%;
  width: 100%;
  padding: 0 4em 3em;
  color: #ccc;
  table {
    width: 100%;
  }
  table td {
    border-top: 1px solid #555;
    border-bottom: none;
    vertical-align: text-top;
  }
  .summary-wrapper {
    margin-bottom: 1em;
    min-height: 175px;
    img {
      float: left;
      width: 100px;
      border: 1px solid #333;
      border-radius: 4px;
      position: relative;
      top: 4px;
    }
    p {
      margin-left: 115px;
    }
  }
}

.cta {
  width: 100%;
  margin-bottom: 2.5em;
  .button {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: auto;
    display: block;
    background: #555;
    height: 50px;
    line-height: 50px;
    color: $secondary_accent;
    border-top: none;
    i {
      margin-right: 0.5rem; 
    }
    &:hover {
      background: $secondary_accent;
      color: #555;
    }
  }
}

.star-rating {
  margin: 1% auto -6%;
  text-align: center;
  .star {
    color: #666;
    margin-right: 0.2em;
  }
  .star.selected {
    color: $primary_accent;
  }
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  transition: all linear 0.3s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.animate-show.ng-hide .generate-match {
  background: $primary_accent;
}

.fade {
  position: relative;
  height: 10em;
  overflow: auto;
}

.fade-restaurant {
  position: relative;
  height: 6.5em;
  overflow: auto;
}

.fade-restaurant:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.6em;
  background: linear-gradient(to right, rgba(#474747, 0), rgba(#474747, 1) 50%);
  display: block;
}

.collapse-text-toggle {
    font-size: 0.9em;
    color: #ccc;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    color: $secondary_accent;
}
.collapse-text-toggle:before {
    content: '\00a0(';
}
.collapse-text-toggle:after {
    content: ')';
}

svg:hover .unlocked{
  fill: #f8e71c;
}

svg:hover .locked{
  fill:#9f2f24;
}

svg#unlocked, svg#locked {
  cursor: pointer;
  position: relative;
  float:left;
  margin: 4% -9% 0% -1%;
  left: -11%;
  outline: none;
}

svg#unlocked-movie, svg#locked-movie {
  cursor: pointer;
  position: relative;
  margin: 4% 0% 0% -9%;
  right: -11%;
  float:right;
  outline: none;
}