//
// _overrides.scss
//

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

// BUTTONS
button, .button {
  border: none;
  background: $secondary_accent;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.one-half.column {
  width: 40%;
}

.column {
  margin-left: 20%;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
  &:hover {
    color: $secondary_accent;
  }
}