//
// _splash.scss
//

::-webkit-input-placeholder { color: #999; font-style: italic; font-weight: normal; }
::-moz-placeholder { color: #999; font-style: italic; font-weight: normal; } /* firefox 19+ */
:-ms-input-placeholder { color: #999; font-style: italic; font-weight: normal; } /* ie */
input:-moz-placeholder { color: #999; font-style: italic; font-weight: normal; }

.wrapper {
  background-color: $primary_accent;  
}

.splash-content {
  width: 400px;
  padding: 8em 0 0;
  margin: auto;
}

.splash-logo {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.splash-lead {
  border-top: 1px solid darken($primary_accent, 5);
  font-size: 2rem;
  color: #fafafa;
  text-align: center;
  margin: 1em 0 1em;
  padding: 1em;
  opacity: 0.95;
}

.splash-zip-form {
  input {
    height: 70px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #666;
    border-radius: 1px;
    &:focus {
      border: none;
      outline: none;
    }
  }

  button.button-primary {
    background: #2bb2c0;
    background: darken($primary_accent, 15);
    border: none;
    width: 100%;
    height: 40px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    &:hover {
      border-color: $headers_bg;
      background-color: $headers_bg;
    }
    &:focus{
      outline: none;
    }
    &:disabled {
      opacity: 0.3;
      color: $primary_accent;
      background-color: transparent;
    }
  }
}