@import 'normalize';
@import 'skeleton';
@import 'variables';

body {
  background-color: $primary_accent;
}
.svg-container {
  width: 325px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 25px;
  #logo {
    width: 100%;
    padding-left: 5px;
  }
}
#zip-form-container {
  margin: 0 auto;  
  width: 400px;

  #zip {
    width: 400px;
    height: 55px;
    text-align: center;
    border-radius: 10px;

      &:focus {
        placeholder: '';
      }
  }

  button.button-primary {
    border-color: $headers_bg;
    background-color: $body_bg;
    margin: 0 140px;

    &:hover {
      border-color: $headers_bg;
      background-color: $headers_bg;
    }
    &:focus{
      outline:0;
    }
    &:disabled {
      opacity: 0.3
    }
  }
}
.svgMatcher {
  margin: 0 auto;
  width: 325px;
  position: absolute;
  #logo {
    width: 100%;
    padding-left: 30px;
  }
}
#container {
  background-color: $body_bg;
  width: 100%; 
  height: 100%; 
  overflow-y: scroll;
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
}
#container:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 50px;
  bottom: 0px;
  left: 50%;
  border-left: 4px solid #3d3d3d;
}
.navigation {
  color: white;
  list-style-type: none;
  overflow: hidden;
  background-color: $primary_accent;
  width: 100%;
}
.info {
  float: left;
  a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    &:hover {
        background-color: #111;
    }
  }
}
.infoBar {
  background-color: black;
  overflow: hidden;
  width: 100%;
  position: relative;
  .header {
    list-style-type: none;
    color: white;
    position: relative;
    float: left;
    line-height: 1px;
    li {
      color: #8c8c8c;
      font-size: 13px;
    }
  }
}
.movieBar {
  position: absolute;
  float: left;
  left: 90px;
  width: 50%;
}
.foodBar {
  position: absolute;
  right: -90px;
}
.movieStar .fa-star{
  position: relative;
  left: 500px;
  top: 90px;
}
.foodStar .fa-star{
  position: relative; 
  float: right;
  top: 90px;
  left: -90px;
}
.spinAnimation {
  color: white; 
  position: relative; 
  width: 65px;
  height: 65px;
  margin: auto;
  text-align: center;
  line-height: 82px; 
  background: $primary_accent;
  border-radius: 100%;
  border: 4px solid #383838;
  .i {
    margin-top: 10px;
  }
  // &:hover {
  //   background-color: yellow;
  // }
  // &:disabled {
  //   background-color: black;
  //   .i {

  //   }
  // }
}

.movieInfo{
  color: white;
  padding-top: 10px;
  padding-left: 90px;
}
.movieDetails {
  color: #8c8c8c;
  font-size: 10px;
  padding-left: 90px;
  line-height: 1px;
}
.foodInfo{
  color: white;
  padding-left: 810px;
  position: absolute;
  top: 160px;
}
.foodDetails {
  color: #8c8c8c;
  font-size: 10px;
  padding-left: 810px;
  position: absolute;
  top: 285px;
  line-height: 1px;
}
.movie_choice {
  font: 10px verdana, sans-serif;
  margin: 0 auto 40px auto;
  width: 180px;
}
.netflix {
  background-color: #f8e71c;
  border-style: solid;
  border-color: black;
  position: absolute;
  top: 375px;
  left: 90px;
  width: 500px;
  height: 38px;
}
.order {
  background-color: #f8e71c;
  border-style: solid;
  border-color: black;
  position: absolute;
  top: 375px;
  left: 800px;
  width: 500px;
  height: 38px;
}
.panda {
  position: relative;
  top: 200px;
  left: -240px;
  width:500px;
  height: 330px;
  padding-bottom: 90px;
}

.star.selected {
  color: $secondary_accent;
}
